html, body {

font-family: 'Inconsolata';


}

h1 {
font-size: 50px;
border-bottom: 4px solid;
padding-top: 20px;
padding-bottom: 30px;
font-weight: 40px;

}

.main {

padding-left: 80px;
padding-right: 80px;


}