html, body {

font-family: 'Inconsolata';


}

h1 {
font-size: 50px;
border-bottom: 4px solid;
padding-top: 20px;
padding-bottom: 30px;
font-weight: 40px;

}

.head {
	margin-top: 5px;
	margin-bottom: 6px;
}

.logo {
	margin:1px;
}

.main {

padding-left: 50px;
padding-right: 50px;


}

.quote-box {


background: white;
width: 100%;
height: 100%;
padding-top: 20px;
padding: 60px;
margin: 10px;
display: table;
border-radius: 6px;
border: solid 6px;

}

@media (max-width: 400px)  {
	
	.quote-box {
		width:  : 300px;
	}

}



#quote-text {


	font-size: 25px;

}

#author {

	text-align: right;
	padding-top: 60px;
}


button.bt-generate {
	margin-top: 10px;
	font-size: 25px;
	border: 2px solid;
	transition: background 2s, color 2s;
}

button.bt-generate:hover {

	background: black;
	color: #fff;


}