html, body {

font-family: 'Inconsolata';


}

h1 {
font-size: 50px;
border-bottom: 4px solid;
padding-top: 20px;
padding-bottom: 30px;
font-weight: 40px;

}

.main {

padding-left: 80px;
padding-right: 80px;


}

.quote-box {

position: relative;
background: white;
width: 450px;
padding-top: 20px;
padding: 60px;
margin: 5% auto;
display: table;
border-radius: 6px;
border: solid 6px;

}


#quote-text {


	font-size: 40px;

}

#author {

	text-align: right;
	padding-top: 60px;
}


button.bt-generate {

	font-size: 25px;
	border: 2px solid;
	transition: background 2s, color 2s;
}

button.bt-generate:hover {

	background: black;
	color: #fff;


}